.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    text-align: center;
}

.header-slate {
    padding: 2rem;
    grid-column: 1/4;
    background-color: slategray;
    color: white;
}
.nav-navy {
    content: 3rem;
    padding: 1rem;
    grid-column: 1/4;
    background-color: lightcyan;
    color: white;
    font-size: 1.75rem
}

.left-side-orange {
    padding: 2rem;
    grid-column: 1/2;
    background-color: orange;
    color: black;
}

.main-seagreen {
    padding: 2rem;

    grid-column: 2/3;
    background-color: lightseagreen;
    color: white;
}

.right-side-yellow {
    padding: 2rem;

    grid-column: 3/4;
    background-color: yellow;
}

.footer-slate{
    padding: 2rem;
    grid-column: 1/4;
    background-color: slategray;
    color: white;
    font-size: 1rem;

}
